@model WeLinkUp.Models.CreateEvent

@{ ViewData["Title"] = "Event Details"; }

<html>
<body>
    <br />
    <br />

    <h1 class="w3-content">Event Details</h1>
    <hr />
    <h3>Event Title:    @Html.DisplayFor(model => model.EventTitle)</h3>
    <h3>Event Host:    @Html.DisplayFor(model => model.EventId)</h3>
    <h3>Location:   @Html.DisplayFor(model => model.Location)</h3>
    <h3>Date:    @Html.DisplayFor(model => model.Date)</h3>
    <h3>Start Time:    @Html.DisplayFor(model => model.StartTime)</h3>
    <h3>End Time:    @Html.DisplayFor(model => model.EndTime)</h3>

    <asp:Image runat="server" ID="image1" enable="false" imageUrl=""></asp:Image>
    <asp:Button runat="server" id="btnShowImg" Text="Show Image" OnClick="btnShowImg_Click"> </asp:Button>

    @if (DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Date)) > 0)
    {
        <h3>Event is already passed</h3>
    }
    else if (DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.EndTime)) > 0)
    {
        <h3>Event is already passed</h3>
    }
    else
    {
        <asp:Button ID="joinBtn"
                    runat="server"
                    Text="Join Event"
                    Font-Bold="true"
                    width="200%"></asp:Button>
        <asp:Button ID="modiBtn"
                    runat="server"
                    Text="Modify Event"
                    width="200%"> </asp:Button>
        <asp:Button ID="cancelBtn"
                    runat="server"
                    Text="Cancel Event"
                    width="200%"> </asp:Button>
    }
</body>
</html>
<script>
        protected void btnShowImg_Click(object sender, EventArgs e)
        {
            if (image1.enable = "false") {
                image1.enable = "true";
            } else {
                image1.enable = "false";
            }
        }
</script>