@model WeLinkUp.Models.EventDetailModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;

@{ ViewData["Title"] = "Event Details"; }

<html>
<body>
    <br />
    <br />

    <h1 class="w3-content">Event Details</h1>
    <hr />
    <h3>Event Id:    @Html.DisplayFor(model => model.Events.EventId)</h3>
    <h3>Event Title:    @Html.DisplayFor(model => model.Events.EventTitle)</h3>
    <h3>Event Host:    @Html.DisplayFor(model => model.Events.HostId)</h3>
    <h3>Location:   @Html.DisplayFor(model => model.Events.Location)</h3>
    <h3>Date:    @Html.DisplayFor(model => model.Events.Date)</h3>
    <h3>Start Time:    @Html.DisplayFor(model => model.Events.StartTime)</h3>
    <h3>End Time:    @Html.DisplayFor(model => model.Events.EndTime)</h3>

    <Image src="@Url.Content("~/images/EventPicture/" + Model.Events.Image)"></Image>

    @foreach (AttendeeList user in Model.AttendeeList)
    {
        <form>
            <input type="text" value="@user.Username" />
            <input type="text" value="@user.Status" />
        </form>
    }

    @if (DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Events.Date)) > 0)
    {
        <h3>Event is already passed</h3>
    }
    else if (DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Events.Date)) == 0 && DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Events.EndTime)) > 0)
    {
        <h3>Event is already passed</h3>
    }

    else
    {

        @if (ViewData["Attendance"].ToString() == "1")
        {
            <button name="joinEvent" id="btnJoinEvent" class="btn btn-secondary" onclick="location.href='@Url.Action("JoinEvent", new { eventId = Model.Events.EventId })';return false;">Join Event</button>
        }
        else if (ViewData["Attendance"].ToString() == "2")
        {
            <p>You are coming to this event</p>
        }

        else if (Model.Events.HostId.Equals(signInManager.UserManager.GetUserId(User)))
        {
            <button name="modifyEvent" id="btnModifyEvent" class="btn btn-secondary">Modify Event</button>
            <button name="cancelEvent" id="btnCancelEvent" class="btn btn-secondary">Cancel Event</button>
        }


    }
</body>
</html>

<script>
  
</script>
