@model WeLinkUp.Models.EventDetailModel
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;

@{ ViewData["Title"] = "Event Details"; }

<html>
<body>
    <br />
    <br />

    <h1 class="w3-content">Event Details</h1>
    <hr />
    <h3>Event Id:    @Html.DisplayFor(model => model.Events.EventId)</h3>
    <h3>Event Title:    @Html.DisplayFor(model => model.Events.EventTitle)</h3>
    <h3>Event Host:    @Html.DisplayFor(model => model.Events.HostId)</h3>
    <h3>Location:   @Html.DisplayFor(model => model.Events.Location)</h3>
    <h3>Date:    @Html.DisplayFor(model => model.Events.Date)</h3>
    <h3>Start Time:    @Html.DisplayFor(model => model.Events.StartTime)</h3>
    <h3>End Time:    @Html.DisplayFor(model => model.Events.EndTime)</h3>

    <Image src="@Url.Content("~/images/EventPicture/" + Model.Events.Image)"></Image>

    @foreach (AttendeeList user in Model.AttendeeList)
    {

        @if (user.UserId == signInManager.UserManager.GetUserId(User))
        {
            <input type="button" id="joinBtn" value="Click to Join">
        }
        <form>
            <input type="text" value="@user.Username" />
            <input type="text" value="@user.Status" />
        </form>
    }

    @if (DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Events.Date)) > 0)
    {
        <h3>Event is already passed</h3>
    }
    else if (DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Events.Date)) == 0 && DateTime.Compare(DateTime.Now, Convert.ToDateTime(Model.Events.EndTime)) > 0)
    {
        <h3>Event is already passed</h3>
    }

    else
    {
        @if (Model.Events.HostId == signInManager.UserManager.GetUserId(User))
        {
            <input type="button" id="ModiBtn" value="Click to modify"><input type="button" id="cancelBtn" value="Click to cancel">
        }
        else
        {
            <h3>You are not related in this event</h3>
        }
    }
    <input type="button" id="joinBtn" value="Click to Join" asp-action="JoinEvent" asp-controller="Event">
    <button name="nameButton" id="idButton" title="your title" class="btn btn-secondary" onclick="location.href='@Url.Action( "JoinEvent",new {  eventId = Model.Events.EventId })';return false;">valueButton</button>
</body>
</html>

<script>
    
</script>
